.vm-display {
    display: block;
    position: relative;
    overflow: hidden;
	  border: solid 4px #aaa;
	  border-top: solid 4px #111;
	  border-left: solid 4px #111;
    padding: 0px;
	  background: black;
}

.vm-display CANVAS {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

.med-res {
    width: 640px;
    height: 480px;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

h1 { color: red; }
table tr:nth-child(even) {
    background: #eef;
}
table tr:nth-child(odd) {
    background: #fee;
}
table tr.current, table tr.current td {
    background: #ffe;
}

.implemented {
    font-weight: bold;
    color: green;
}
.not-implemented {
    color: red;
}
.doc TABLE {
    background: white;
}
